@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ClashDisplayBold";
    src: local("ClashDisplay-Bold.ttf"), url("../assets/fonts/ClashDisplay-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "ClashDisplayMedium";
    src: local("ClashDisplay-Medium.ttf"), url("../assets/fonts/ClashDisplay-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "ClashDisplaySemibold";
    src: local("ClashDisplay-Semibold.ttf"), url("../assets/fonts/ClashDisplay-Semibold.ttf") format("truetype");
}